
.welcome-area {
     background-size: cover;
	     z-index: 1;
     position: relative;
     height: 100%;
 }
 .welcome-area:after,
 .quotes-area:after {		/*bg shade & align*/
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: .6;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
     z-index: -1;
 }
 .welcome-table {		/*middle placement*/
     display: table;
     width: 100%;
     height: 100%;
     text-align: center;
 }
 .welcome-cell {		
     display: table-cell;
     vertical-align: middle;
 }
.welcome-text {
	font-size: 24px;
	color: #fff;
	border-top: 5px solid #fff;
	display: inline-block;
	padding: 50px 70px 65px;
	position: relative;
	z-index: 1;
	border-left: 5px solid #fff;
	border-right: 5px solid #ddd;
}
.welcome-text::before {		/*lower left line*/
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 25%;
	height: 5px;
	background: #fff;
}
.welcome-text::after {		/*lower right line*/
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	width: 25%;
	height: 5px;
	background: #fff;
}
.social-links ul {
position: absolute;		/*arrange horizontally*/
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;		
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li {		
  display: inline-block;
}
.social-links a {		/*encircle icons*/
  color: #444;
  font-size: 15px;
  background: #fff;
  width: 35px;
  height: 35px;
  display: block;
  line-height: 37px;
  border-radius: 50%;
  margin-right: 5px;
    
}

 .welcome-text h1 {	/*keep box fixed*/
     font-size: 85px;
     font-weight: 700;
     margin-bottom: 5px;
 }
 .typed-cursor,		/*keep cursor inplace*/
 .element {
     display: inline;
     font-weight: 300, bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 
/*MOuSE*/

